{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block menu %}{% endblock %}
{% block content %}
    <div class="registration-container">
            <form action="{% url 'change' user_obj.pk %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="d-grid gap-2">
                    <input type="submit" value="Редактировать">
                </div>
        </form>
        <a href="{% url 'profile' user_obj.pk %}"><div class="back">
                    <input type="submit" value="Вернуться назад">
    </div></a>
    </div>
{% endblock %}